<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>StylesCraze</title>
  <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
  <link rel="icon" href="/Icon.svg" sizes="16x16 32x32" type="image/x-icon">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-3 px-4 px-sm-5">
              <div>
                <img src="/StylesCraze.svg" class="mr-2" alt="logo" height="50" width="130" />
                <p class="font-weight-light">Create account.</p>
              </div>
              <form action="/auth/register" method="post" class="pt-1" id="register-form">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputUsername1" placeholder="Username" name="username">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email" name="email">
                  <p class="text-danger" id="email-error-display"></p>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control form-control-lg" id="exampleInputPhone1" placeholder="Phone" name="phone">
                  <p class="text-danger" id="phone-error-display"></p>
                </div>
                <div class="form-group">
                  <div class="border d-flex">
                    <input type="password" style="border: none;" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" name="password">
                    <input type="checkbox" id="showPassword" class="mr-2">
                  </div>
                  <p class="text-danger" id="password-error-display"></p>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputConfirmPassword1" placeholder="Confirm Password" name="confirmPassword">
                  <p class="text-danger" id="confirm-password-error-display"></p>
                </div>
                <div>
                  <p class="text-danger" id="common-error-display">
                    <%= commonError %>
                  </p>
                </div>
                <div class="mt-3">
                  <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                    SIGN UP
                  </button>
                </div>
              </form>
              <p>Already have an account?<a href="login">Sign In</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const form = document.getElementById('register-form');
    const usernameInput = document.getElementById('exampleInputUsername1');
    const emailInput = document.getElementById('exampleInputEmail1');
    const phoneInput = document.getElementById('exampleInputPhone1');
    const passwordInput = document.getElementById('exampleInputPassword1');
    const confirmPasswordInput = document.getElementById('exampleInputConfirmPassword1');

    form.addEventListener('submit', (event) => {
      let hasErrors = false;

      // Clear previous error messages
      document.getElementById("common-error-display").innerHTML = "";
      document.getElementById("email-error-display").innerHTML = "";
      document.getElementById("phone-error-display").innerHTML = "";
      document.getElementById("password-error-display").innerHTML = "";
      document.getElementById("confirm-password-error-display").innerHTML = "";

      if (!usernameInput.value || !emailInput.value || !phoneInput.value || !passwordInput.value || !confirmPasswordInput.value) {
        hasErrors = true;
        document.getElementById("common-error-display").innerHTML = "Please fill in all fields.";
      } else {
        if (!emailInput.value.match(/^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {
          hasErrors = true;
          document.getElementById("email-error-display").innerHTML = "Please enter a valid email.";
        }
        if (phoneInput.value.length !== 10) {
          hasErrors = true;
          document.getElementById("phone-error-display").innerHTML = "Please enter a valid phone number";
        }
        if (passwordInput.value.length < 6) {
          hasErrors = true;
          document.getElementById("password-error-display").innerHTML = "Password must be at least 6 characters long.";
        } else {
          const specialCharacters = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/;
          if (!specialCharacters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
              "Password must contain at least 1 special character.";
          }
          const capitalLetters = /[A-Z]/;
          if (!capitalLetters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
              "Password must contain at least 1 capital letter.";
          }
          const smallLetters = /[a-z]/;
          if (!smallLetters.test(passwordInput.value)) {
            hasErrors = true;
            document.getElementById("password-error-display").innerHTML =
              "Password must contain at least 1 small letter.";
          }
        }
        if (passwordInput.value !== confirmPasswordInput.value) {
          hasErrors = true;
          document.getElementById("confirm-password-error-display").innerHTML = "Password and confirm password didn't match.";
        }
      }

      if (hasErrors) {
        event.preventDefault();
      }
    });

    // show password input
    const showPasswordCheckbox = document.getElementById('showPassword');
    showPasswordCheckbox.addEventListener('change', function() {
      if (showPasswordCheckbox.checked) {
        passwordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
      }
    });
    
  </script>

</body>

</html>