<head>
  <title>StylesCraze</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/customer/fonts/icomoon/style.css">
  <link rel="stylesheet" href="/customer/css/bootstrap.min.css">
  <link rel="stylesheet" href="/customer/css/magnific-popup.css">
  <link rel="stylesheet" href="/customer/css/jquery-ui.css">
  <link rel="stylesheet" href="/customer/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/customer/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/customer/css/aos.css">
  <link rel="stylesheet" href="/customer/css/style.css">
  <link rel="stylesheet" href="/customer/css/imageViewer.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="icon" href="/scIcon.png" sizes="16x16 32x32" type="image/x-icon">
</head>