<li class="custom-li"><a href="/profile"><span class="icon icon-person"></span></a></li>
<li class="custom-li"><a href="/wishlist"><span class="icon icon-heart-o"></span></a></li>
<li class="custom-li"><a href="/cart" class="site-cart">
    <span class="icon icon-shopping_cart"></span>
</a></li>

<!-- Dropdown -->
<li id="list-icon">
    <i class="bi bi-list"></i>
    <ul id="dropdown-menu">
        <li><a href="/about">About</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/profile"><span class="icon icon-person"></span> Profile</a></li>
        <li><a href="/wishlist"><span class="icon icon-heart-o"></span> Wishlist</a></li>
        <li><a href="/cart" class="site-cart"><span class="icon icon-shopping_cart"> Cart</span></a></li>
    </ul>
</li>