<li class="custom-li"><a href="/profile"><span class="icon icon-person"></span></a></li>
<li class="custom-li"><a href="/wishlist">
    <% if (currentUser && currentUser.wishlist.length) { %>
        <span class="icon icon-heart"></span>
    <% } else { %>
        <span class="icon icon-heart-o"></span>
    <% } %>
</a></li>
<li class="custom-li"><a href="/cart" class="site-cart">
        <span class="icon icon-shopping_cart"></span>
        <% if (currentUser) { %>
            <span class="count">
                <%= currentUser.cart.length %>
            </span>
        <% } %>
    </a>
</li>
<li>
    <% if (!isLoggedIn) { %>
        <a href="/login">Login</a>
    <% } else { %>
        <form id="logout-form" action="/logout" method="post">
            <input type="hidden" value="<%= currentUser._id %>" name="userId">
            <button id="logout-button" class="btn btn-light" type="submit">
                <i class="bi bi-power"></i>
            </button>
        </form>
    <% } %>
</li>

<!-- Dropdown -->
<li id="list-icon" class="ml-5">
    <i class="bi bi-list"></i>
    <ul id="dropdown-menu">
        <li><a href="/about">About</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/profile"><span class="icon icon-person"></span> Profile</a></li>
        <li><a href="/wishlist">
            <% if (currentUser && currentUser.wishlist.length) { %>
                <span class="icon icon-heart"></span>
            <% } else { %>
                <span class="icon icon-heart-o"></span>
            <% } %> 
            Wishlist
        </a></li>
        <li class="mt-2"><a href="/cart" class="site-cart"><span class="icon icon-shopping_cart">
                    Cart
                </span>
                <% if (currentUser) { %>
                    <span class="count">
                        <%= currentUser.cart.length %>
                    </span>
                <% } %>
            </a>
        </li>
    </ul>
</li>