<!DOCTYPE html>
<html lang="en">

<%- include('../partials/customer/head') -%>

<body>

    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" class="form-control border-0" placeholder="Search">
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <img src="/shoppers.svg" class="mr-2" alt="logo" height="50" width="130" />
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons">
                                <ul>
                                    <%- include('../partials/customer/menu-list') -%>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li  class="active">
                            <a href="/about">About</a>
                        </li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">About</strong></div>
                </div>
            </div>
        </div>

        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6">
                        <div class="block-16">
                            <figure>
                                <img src="/customer/images/blog_1.jpg" alt="Image placeholder" class="img-fluid rounded">
                                <a href="https://vimeo.com/channels/staffpicks/93951774"
                                    class="play-button popup-vimeo"><span class="ion-md-play"></span></a>

                            </figure>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-5">


                        <div class="site-section-heading pt-3 mb-4">
                            <h2 class="text-black">How We Started</h2>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius repellat, dicta at laboriosam,
                            nemo exercitationem itaque eveniet architecto cumque, deleniti commodi molestias repellendus
                            quos sequi hic fugiat asperiores illum. Atque, in, fuga excepturi corrupti error corporis
                            aliquam unde nostrum quas.</p>
                        <p>Accusantium dolor ratione maiores est deleniti nihil? Dignissimos est, sunt nulla illum autem
                            in, quibusdam cumque recusandae, laudantium minima repellendus.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 site-section-heading text-center pt-4">
                        <h2>The Team</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-3">

                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/customer/images/person_1.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                                    <p class="block-38-subheading">CEO/Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                        sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/customer/images/person_2.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Jennifer Greive</h3>
                                    <p class="block-38-subheading">Co-Founder</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                        sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/customer/images/person_3.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Patrick Marx</h3>
                                    <p class="block-38-subheading">Marketing</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                        sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img src="/customer/images/person_4.jpg" alt="Image placeholder" class="mb-4">
                                    <h3 class="block-38-heading h4">Mike Coolbert</h3>
                                    <p class="block-38-subheading">Sales Manager</p>
                                </div>
                                <div class="block-38-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                        sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/customer/features') -%>
    <%- include('../partials/customer/footer') -%>