<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shoppers</title>
    <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div>
                                <img src="/shoppers.svg" class="mr-2" alt="logo" height="50" width="130" />
                                <p class="font-weight-light">Verify to continue.</p>
                            </div>
                            <form action="/verification" method="post" class="pt-3">
                                <div class="form-group">
                                    <input type="hidden" value="<%= userId %>" name="userId">
                                    <input type="number" class="form-control form-control-lg" id="exampleInputOTP1"
                                        placeholder="OTP" name="otp">
                                    <p class="text-danger" id="otp-error-display"></p>
                                </div>
                                <div class="mt-3">
                                    <button type="submit"
                                        class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                        Verify
                                    </button>
                                </div>
                            </form>
                            <p><a href="#">Resend OTP</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>