<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shoppers</title>
    <link rel="stylesheet" href="/admin/css/vertical-layout-light/style.css">
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div>
                                <img src="/shoppers.svg" class="mr-2" alt="logo" height="50" width="130" />
                                <p class="font-weight-light">Enter your email associated with Shoppers.</p>
                            </div>
                            <form action="/forgot-password" method="post" class="pt-3" id="getOTP-form">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail"
                                        placeholder="Email" name="email">
                                </div>
                                <div>
                                    <p class="text-danger" id="common-error-display">
                                        <%= commonError %>
                                    </p>
                                </div>
                                <div class="mt-3">
                                    <button type="submit"
                                        class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                        Get An OTP
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const form = document.getElementById('getOTP-form');
        const emailInput = document.getElementById('exampleInputEmail');

        form.addEventListener('submit', (event) => {
            let hasErrors = false;

            // Clear previous error messages
            document.getElementById("common-error-display").innerHTML = "";

            if (!emailInput.value) {
                hasErrors = true;
                document.getElementById("common-error-display").innerHTML = "Please fill in this fields.";
            } else {
                if (!emailInput.value.match(/^[A-Za-z\._\-0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)) {
                    hasErrors = true;
                    document.getElementById("common-error-display").innerHTML = "Please enter a valid email.";
                }
            }

            if (hasErrors) {
                event.preventDefault();
            }
        });
    </script>

</body>

</html>