<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      <p>Copyright &copy; All rights reserved | made by Sm15700</p>
    </span>
  </div>
</footer>
</div>
</div>
</div>

<!-- plugins:js -->
<script src="vendors/js/vendor.bundle.base.js"></script>
<script src="vendors/chart.js/Chart.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<script src="/admin/js/cancel.js"></script>
<script src="/admin/js/imageViewer.js"></script>

</body>

</html>